*{padding:0;margin:10;}
body {background: #a4d80c;}
.clear{clear:both;overflow:hidden;}
ul{list-style:none;}
.container{width:1000px;margin:50px auto;}
.container li{
	float:left;
	width:160px;
	margin:15px 10px;	/*上下、左右距*/
	padding:5px;
	border-radius:5px;	/*幼圆*/
	box-shadow:0 0 2px rgba(0,0,0,5);
}

.container li img{
	width:160;
	height:120px;
	border-radius:5px;
	vertical-align:bottom;
}
/*使照片墙艺术倾斜		幼圆效果*/
/*
transform

rotate():元素顺时针旋转给定的角度，负值表示逆时针旋转;
scale():元素的尺寸会增加或减少，根据给定的宽度和高度;
*/

/*第一张图片	沿X轴顺时针旋转30度*/
.container li:nth-child(1){
	transform: rotate(30deg);
}
/*第二张图片*/
.container li:nth-child(2){
	transform: rotate(-15deg);
}
/*第三张图片*/
.container li:nth-child(3){
	transform: rotate(20deg);
}
/*第四张图片*/
.container li:nth-child(4){
	transform: rotate(-10deg);
}
/*第五张图片*/
.container li:nth-child(5){
	transform: rotate(10deg);
}
/*第六张图片*/
.container li:nth-child(6){
	transform: rotate(-20deg);
}
/*第七张图片*/
.container li:nth-child(7){
	transform: rotate(15deg);
}
/*第八张图片*/
.container li:nth-child(8){
	transform: rotate(-30deg);
}
/*第九张图片*/
.container li:nth-child(9){
	transform: rotate(20deg);
}
/*第十张图片*/
.container li:nth-child(10){
	transform: rotate(-45deg);
}
/*第十一张图片*/
.container li:nth-child(11){
	transform: rotate(30deg);
}
/*第十二张图片*/
.container li:nth-child(12){
	transform: rotate(-20deg);
}
/*第十三张图片*/
.container li:nth-child(13){
	transform: rotate(-10deg);
}
/*第十四张图片*/
.container li:nth-child(14){
	transform: rotate(15deg);
}
/*第十五张图片*/
.container li:nth-child(15){
	transform: rotate(-20deg);
}
/*鼠标移上去	恢复原位 照片缩放、扩大*/
.container li:hover{
	/*恢复原位	scaleX(x) 横向放大X倍 scaleY(y) 纵向放大y倍  x，y如果是负值，图片将旋转*/
	transform: rotate(0deg) scaleX(1.3) scaleY(1.2);
}